<style type="text/css">
 .btn-facebook {
  background-color: #3b5998;
}
.btn-login{
  margin: 10px;
  color: #fff;
  font-family: 'Assistant', sans-serif;
  width: 100%;
}
.btn-login:hover {
  color: #fff;
}
.btn-login:focus {
  color: #fff;
  outline: none;
}
body {
  background: white;
}
.remember-label {
  color: black;
}
.login-submit-button {
  background-color: #ecf0f1;
  font-size: 17px;
}
.signin-form h3 {
  padding-top: 0px;
}
.back-button {
  font-family: 'Quattrocento';
  color: #fff;
  margin-top: -15px;
  padding-left: 15px;
  cursor: pointer;
}
a:hover , a:link, a:visited {
  text-decoration: none;
  /*color: #fff;*/
}



</style>
<% content_for :title , "Login | Snapdshort" %>
 <% @skip_footer = true %>
<%= devise_error_messages! %>
<div class = "col-md-4 col-md-offset-4 signin-form">
  <h2 style="color:black;font-family: Heebo">LOGIN</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, placeholder: "Email", :required => true%>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" ,:required => true %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me , class: "remember-label"%>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Sign in" , class: "login-submit-button"%>
    </div>
  <% end %>
  <h3 style = "color: black"> Or sign in using </h3>
  <a href = '/users/auth/facebook'>
    <button type="button" class="btn btn-facebook btn-login" style="width: 80%"><i class="fa fa-facebook fa-lg" aria-hidden="true" style="margin: 5px"></i>facebook</button>
  </a>
</div>

