<% if current_user.liked?(pt) %>
	<%= link_to like_path(post_id: pt.id), remote: true, method: :delete do%>
		<i class="fa fa-heart fa-lg" aria-hidden="true"></i>
	<% end %>
<% else %>
	<%= link_to likes_path(post_id: pt.id), remote: true, method: :post do %>
		<i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
	<% end %>
<% end %>