var heartContainer = $('#<%= dom_id(@post) %>').find('.card-like-container');
heartContainer.html('<% if current_user.liked?(@post) %> <%= link_to like_path(post_id: @post.id, id: current_user.id), remote: true, method: :delete do%> <i class="fa fa-heart fa-lg heart-btn" aria-hidden="true"></i> <% end %> <% else %> <%= link_to likes_path(post_id: @post.id, id: current_user.id), remote: true, method: :post do %> <i class="fa fa-heart-o fa-lg heart-btn" aria-hidden="true"></i> <% end %> <% end %>');
$('#<%= dom_id(@post) %>').find('.likes-count-container').text('<%= @post.liking_users.count %>');