<%= form_for u, url: u_path(u),remote: true do |f| %> 
	<%= f.text_area :bio, class: "edit-tagline-input" %>

	<div class = "modal-footer">
		<%= f.submit "Save changes" , class: "btn btn-primary edit-save-button btn-sm" %>
		<button type="button" class="btn btn-secondary edit-close-button btn-sm" data-dismiss="modal">Close</button>
	</div>
<% end %>