<style>
 html { overflow-y: scroll; }

body { font-family: sans-serif; 
  
}


/* ---- grid ---- */

.grid {
  background: transparent;
  margin-top: 270px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}
@media screen and (max-width: 2900px) {
  .grid-sizer { width: 33.333%; }
  .grid-item { width: 33.333%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
   .close-display-post {
    color: gray;
  }
} 
@media screen and (max-width: 1224px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: 50%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
   .close-display-post {
    color: gray;
  }
  
}


@media screen and (max-width: 720px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: 50%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
   .close-display-post {
    color: #fff;
  }
  
}

@media screen and (max-width: 480px) {
  .grid-sizer { width: 100%; }
  .grid-item { width: 100%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
   .close-display-post {
    color: #fff;
  }
  
}

.grid-item {
  float: left;
  padding: 3px;
}

.grid-item img {
  display: block;
  max-width: 100%;
  border-top-right-radius: 1%;
  border-top-left-radius: 1%;
}

.grid-item a {
  text-decoration: none;
  color: black;
}

.card {
  border: 1px solid #ececec;
  border-radius: 1%;
  background: #ececec;
}

.card-block {
  background: #ececec;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; 
  user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;          /* Non-prefixed version, currently
                                  not supported by any browser */
}
.modal-picture-container img{
  display: block;
  height: auto;
  width:100%;
}  

.about-user-container {
  background-color: transparent;
  font-family: 'Assistant' , sans-serif;
  margin-top: 65px;
}

.about-user-picture-container {
  height: 200px;
  width: 200px;
  <% if @user.profile_pic != nil%>
    background-image: url('<%= @user.profile_pic.url%>');
  <% end %>
  <% if @user.profile_pic == nil %>
    background-image: url(http://1.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=280);
  <% end %>
   background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.text-container {
  margin-left: 65px;
}
.fa-pencil-square-o {
  margin-left: 5px;
}
.fa-pencil-square-o:hover {
  color: gray;
  transition: 0.1s;
}

.after {
  z-index: 1;
  position: absolute;
  top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: block;
}
.card-text {
  font-size: 1.2em;
}
.close-display-post {
  position: absolute;
  z-index: 10000;
  left: 95%;
  cursor: pointer;
  font-size: 2em;
}

.btn-share{
  margin: 2px;
  color: #fff;
  font-family: 'Assistant', sans-serif;
  border-radius: 0px;
}
.btn-share:hover {
  color: #fff;
}
.btn-share:focus {
  color: #fff;
  outline: none;
}

.btn-facebook {
  background-color: #3b5998;
}
.btn-twitter {
  background-color: #55acee;
}
.btn-google-plus {
  background-color: #dd4b39;
}
.edit-tagline-input {
  width: 100%;
  resize: none;
  border-radius: 5px;
   border: 1px solid #878787;
   height: 35px;
   font-family: 'Assistant';
    text-indent: 15px;
  font-size: 14pt;
}
.click {
  height: 100%;
  width: 100%;
}
</style>
<%= content_for :title , @user.name + "- Snapdshort" %>

<meta name="viewport" content="width=device-width" />

<div class = "about-user-container col-md-12 col-sm-12 col-xs-12">
  <div class = "about-user-picture-container col-md-offset-3 col-md-2 col-sm-2">
  <% if @user == current_user %>
  <%= link_to edit_picture_u_path(current_user), remote: true, method: :get do %>
    <div class = "after" data-toggle = "modal" data-target="#profilePicEditModal">
    
      
    </div>
    <% end %>
  <%end %>
  </div>
  <div class = "text-container col-md-5 col-sm-7 col-xs-12">
    <h2> <%= @user.name %> </h2> 
    <p> <% if @user.bio %>
          <%= @user.bio %>
        <% else %>
          Insert user tagline here 
        <% end %>
    <% if @user == current_user %>
      <%= link_to edit_tag_u_path(current_user), remote: true, method: :get do %>
        <i class="fa fa-pencil fa-lg" aria-hidden="true" data-toggle = "modal" data-target = "#tagEditModal"></i>
      <% end %>
    <% end %>
    </p> 
  </div>
</div>
<div class= "grid">
<div class = "grid-sizer"></div>
  <% @user.posts.each do |p| %>
  <div class = "grid-item">
    <a class= "mod-display" href ="#display-post">
      <div class = "mod-display-div" data-id="<%= p.id %>" id = "<%=dom_id(p)%>">
        <%= render partial: 'posts/post_user', locals: {post: p} %>
      </div>
    </a>
    </div>
  <% end %>
</div>

<%= render 'shared/modaldisplay' %>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <button type="button" class="btn btn-facebook btn-share" style="width: 100%"><i class="fa fa-facebook fa-lg" aria-hidden="true" style="margin: 5px"></i>facebook</button><br>
        <button type="button" class="btn btn-twitter btn-share" style="width: 100%"><i class="fa fa-twitter fa-lg" aria-hidden="true" style="margin-right: 5px"></i>twitter</button><br>
        <button type="button" class="btn btn-google-plus btn-share" style="width: 100%"><i class="fa fa-google-plus fa-lg" aria-hidden="true" style="margin-right: 5px"></i>Google +</button>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tagEditModal" tabindex="-1" role="dialog" aria-labelledby="tagEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="profilePicEditModal" tabindex="-1" role="dialog" aria-labelledby="profilePicEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        
      </div>
      
    </div>
  </div>
</div>

<script>
	var $grid = $('.grid');
$grid.imagesLoaded().progress( function() {
  $grid.masonry({
    itemSelector: '.grid-item',
  percentPosition: true,
  columnWidth: '.grid-sizer'
  });
});
$('.mod-display').animatedModal({
  modalTarget: 'display-post',
  color: '#f9f9f9'
});



$('.mod-display-div').on('click',function() {
  var thisPost = $(this);
  var postId = thisPost.data('id');
  var postUrl = '/posts/'+postId+'/post_content';
  $.ajax(postUrl, {
    type: 'get',
    data: {post: {id: postId}},
    dataType: 'json',
    success: function(result) {
      var title = '<h2>'+result.title+'</h2>';
      var content = result.content;
      var contentArray = content.split('\n');
      var modifiedContent = contentArray[0] + '<br>';
      for(var i = 1 ; i<contentArray.length;i++ ) {
        modifiedContent = modifiedContent + contentArray[i]+'<br>';
      }
      $('.post-title-container').html(title);
      $('.post-content-container').html('<p>'+modifiedContent+'</p>');
    }
  });
  var imageLink = thisPost.find('img').attr('src');
  $('.modal-picture-container').html("<img src ="+imageLink+" />");
});  
</script>