<div id="display-post">
            <!--"THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID-->
            
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 modal-picture-container">
    </div>

    <div  id="btn-close-modal" class="close-display-post"> 
                &times;
    </div>

    <div class = "col-md-12 col-xs-12 col-sm-12 modal-content-container">
      <div class = "post-title-container">
      
      </div>
      <div class = "post-content-container">
        
      </div>
    </div>

    <hr style = "width:50%; color: black">

</div>