<style>

.menu-close-icon {
    width: 35px;
    height: 2px;
    margin: 6px 0;
    background-color: black;
    transition: 0.4s;
}

.close-icon-container {
	margin-top: 16px;
    cursor: pointer;
}
.close-change .close-bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    background-color: #fff;
}
.close-change .close-bar-2 {
    opacity: 0;
}
.close-change .close-bar-3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px) ;
    transform: rotate(45deg) translate(-4px, -4px) ;
    background-color: #fff;
}

.sidenav {
    overflow: auto;
}

.sidenav a:hover {
    color: #fff;
    transition: 0.2s;
}
.sidenav a {
    font-size: 1.4em;
    font-family: 'Assistant', sans-serif;
}


@media and (max-width: 1224px) {
    .sidenav-navlinks {
        margin-left: 5%;
    }
}
@media and (max-width: 760px) {
    .sidenav-navlinks {
        margin-left: 10%;
    }
}
@media and (max-width: 480px) {
    .sidenav-navlinks {
        margin-left: 11.2%;
    }
}
.sidenav-details {
    width: 100%;
    <% if user_signed_in? %>
        height: 250px;
        background-color: gray;
    <% else %>
        height: auto;
        background-color: transparent;
    <% end %>
}
.sidenav-profile-container {
    position: relative;
    height: 100px;
    width: 100px;
    <% if user_signed_in? %>
        <% if current_user.profile_pic != nil %> 
            background-image: url('<%=current_user.profile_pic.url%>');
        <% end %>
    <% else %>
        background-image: url(http://1.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=280);
    <% end %>
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    top: 7%;
    left: 35%;
}
.sidenav-navlinks a{
    border-left: 2px solid #ede7d9;
    padding-left: -5px;
    margin-bottom: 2px;
}
.sidenav-navlinks a:hover {
    margin-left: 15px;
    background-color: #2f2f2f;
    box-shadow: 1px 1px 1px #2f2f2f;
    transition: 0.1s;
}
.sidenav-profile-details {
    margin-top: 30px;
    text-align: center;
    font-family: 'Quattrocento', serif;
    font-size: 1.2em;
}

.sidenav-divider {
    width: 50%;
    color: #fff;
}
.sidenav-social-media {
    font-family: 'Assistant', sans-serif;
    font-size: 1.4em;
    margin-left: 15%;
    color: gray;
}
.fa-facebook-square:hover {
    color: #fff;
    transition: 0.1s;
}
.fa-twitter-square:hover {
    color: #fff;
    transition: 0.1s;
}
.fa-google-plus-square:hover {
    color: #fff;
    transition: 0.1s;
}
.sidenav-footer {
    position: absolute;
    bottom: 0%;
    margin-left: 25px;
    color: white;
}
</style>
<div class = "sidenav" id ="mySidenav">
    <div class = sidenav-details>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        	<div class = "close-icon-container">
        		<div class = "menu-close-icon close-bar-1"></div>
            	<div class = "menu-close-icon close-bar-2"></div>
            	<div class = "menu-close-icon close-bar-3"></div>
            </div>
        </a>
        <% if user_signed_in? %>
            <div class = "sidenav-profile-container">
            </div>
            <div class = sidenav-profile-details>
                <%= current_user.name %>
            </div>
        <% end %>
    </div>
    <div class = "sidenav-navlinks">
        <div class = "mobile-nav-extra">
            <% if !user_signed_in? %>
                <%= link_to new_user_session_path do %>
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in 
                <% end %>
            <% else %> 
                <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
                <% end %>
                <%= link_to u_path(current_user) do%> 
                    <i class="fa fa-user" aria-hidden="true"></i>
                    My profile
                <% end %>
                <%= link_to edit_user_registration_path do%>
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    Settings
                <% end %>
            <% end %>
        </div>
        <% if user_signed_in? and current_user.admin %>
            <%= link_to "Admin Dashboard", '#' %>
        <% end %>
        <%= link_to "Active Topics" , frames_path %>
        <%= link_to 'Archived', archived_path %>
        <%= link_to 'FAQ', getting_started_path %>
    </div>

    <hr class = "sidenav-divider">
    <div class = "sidenav-social-media">
        Follow us on <i class="fa fa-facebook-square fa-lg" aria-hidden="true" style="margin: 5px"></i> <i class="fa fa-twitter-square fa-lg" aria-hidden="true" style="margin-right: 5px"></i> <i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i>
    </div>

</div>


<script type="text/javascript">
function rightNavMobileExtra() {
    var screenWidth = document.documentElement.clientWidth;

    if(screenWidth > 1224) {
        $('.mobile-nav-extra').hide();

    } else if (screenWidth > 770) {
        $('.mobile-nav-extra').hide();

    } else  {
         $('.mobile-nav-extra').show();

    }
}
$(document).on('turbolinks:load', rightNavMobileExtra);
$(window).resize(rightNavMobileExtra);
    
</script>
