<style>
	.getting-started-img {
		height: 100%;
		width: auto;
		margin-left: 30px;
	}
</style>
<!DOCTYPE html>
<html>
<head>
	<title>Getting started</title>
</head>
<body>
	<div id="fullpage">
	<div class="section">
		<img src = "/assets/started1.png" class = "getting-started-img">
	</div>
	<div class="section">
		<img src = "/assets/started2.png" class = "getting-started-img">
	</div>
</div>
</body>
</html>


<script type="text/javascript">
	$(document).ready(function() {
	if ( $( 'html' ).hasClass( 'fp-enabled' ) ) {
  		$.fn.fullpage.destroy('all');
	}
	$('#fullpage').fullpage({
		sectionsColor : ['#CCFF90', '#FF8863']
	});
});
</script>