<!--<style type="text/css">
	@media screen and (max-width: 1900px) {
		.title {
			font-size: 48px;
		}
		.center-title {
			margin-top: 175px;
		}
	}
	@media screen and (max-width: 420px) {
		.title {
			font-size: 40px;
		}
		.center-title {
			margin-top: 100px;
		}
	}
	body {
		background: #ffc400;
	}

	.center-title {
		text-align: center;
	}

	.title {
		font-family: 'Libre Baskerville';
		color: #fff;
	}

	.slogan {
		margin-top: 0px;
		font-size: 36px;
		color: #fff;
	}
	.user-links {
		float: right;

	}
	.user-links h3 {
		font-family: 'Quattrocento';
		color: #fff;
	}
	.user-links-list {
		list-style: none;
	}
	.user-links-list li {
		margin-left: 15px;
		margin-right: 25px;
		float: left;
	}
	a:hover , a:link, a:visited {
  text-decoration: none;
  color: #fff;
}
.play-button {
	color: #fff;
	font-size: 150px;
	font-family: 'Quattrocento';
}
.explore-button {
	color: #fff;
	font-family: 'Quattrocento';
	margin-top: 50px;
}
.fa-play {
	font-size: 100px;
}
.tutorial-video {
	width: 100%;
	height: 400px;
	border: 0px;
}

</style>
<% content_for :title , "Welcome to Snapdshort" %>
<div class = "user-links">
 <ul class = "user-links-list">
 	<li> 
 		<%= link_to new_user_session_path do %><h3> LOGIN </h3> <% end %>
 	</li>
 	<li> 
 		<%= link_to signup_path do %> <h3> SIGN UP </h3> <% end %> 
 	</li>
 </ul>
</div>
<div class = "center-title">
	<h1 class ="title"> SNAPDSHORT </h1>
	<h2 class = "slogan"> Sharing Stories. Shaping Lives. </h2><br>
	<span data-toggle = "modal" data-target = "#videoModal" ><h4 class = "play-button"> <i class="fa fa-play" aria-hidden="true"></i> </h4></span>
	<%= link_to frames_path do%><h1 class = "explore-button"> EXPLORE </h1><% end %>
</div>					
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe class = "tutorial-video" src="https://www.youtube.com/embed/oD2WjSBUlZ4" allowfullscreen>
		</iframe>
      </div>
    </div>
  </div>
</div>	!-->
<style type="text/css">
		.main-logo-container {
		margin-left: 25%;
		margin-top: 5%;
	}

	.main-logo-container img {
		width: 600px;
		height: auto;
	}
	.landing-text-container {
	margin-left: 25%;
	width: 600px;
	font-family: Heebo;
}
.landing-text-container h1 {
	text-align: center;
}
</style>

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Heebo:100" rel="stylesheet">
</head>
<body>
	<div class = "main-logo-container">
		<img src = "/assets/mainlogo.png">
	</div>
	<div class = "landing-text-container">
		<h1> Snapdshort is all about connections - identify a visual link and join the conversation! </h1>
	</div>
</body>
</html>