
<style type="text/css">

	body {
		
	}
	 .btn-facebook {
  background-color: #3b5998;
}
@media screen and (max-width: 1900px) {
	.front-page {
		
	}
}

@media screen and (max-width: 480px) {
	.front-page {
		
	}
}
.btn-login{
  margin: 10px;
  color: #fff;
  font-family: 'Heebo', sans-serif;
  width: 100%;
}
.btn-login:hover {
  color: #fff;
}
.btn-login:focus {
  color: #fff;
  outline: none;
}

.slogan {
	margin-top: 50px;
}
.signup h2 {
	text-align: center;
}
.create-account-button {
	background: #ecf0f1;
	font-size: 17px;
}
.signup h3 {
	padding: 0px;
}
.back-button {
  font-family: 'Heebo';
  color: #fff;
  margin-top: -15px;
  padding-left: 15px;
  cursor: pointer;
}
.signup {
	font-family: 'Heebo';
}


</style>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Heebo:100" rel="stylesheet">
</head>
<body>
	<% skip_footer = true %>
	<% content_for :title , "Sign up | Snapdshort" %>
	<div class = "row front-page">
	
		<div class ="col-md-4 col-sm-5 col-xs-12 col-md-offset-4 col-sm-offset-3 signup">
			<h2 style="color:black">SIGN UP</h2>
			<div class = "form">
				<%= form_for(User.new, as: :user, url: registration_path(resource_name)) do |f| %>
					<%= f.text_field :name, placeholder: "Name", :required => true%><br />
					<%= f.email_field :email , placeholder: "Email", :required => true%><br />
					<%= f.password_field :password , placeholder: "Password", :required => true, :pattern => ".{8,}" , id: "pass-input"%><br />
					<%= f.password_field :password_confirmation , placeholder: "Confirm your password", :required => true, :pattern => ".{8,}", id: "pass-confirm-input"%><br />
					<%= f.submit "Create" ,class: "create-account-button"%>
				<% end %>
			</div>
			<h3 style="color:black"> Or sign up using</h3>
				<a href = '/users/auth/facebook'>
				<button type="button" class="btn btn-facebook btn-login" style="width: 80%"><i class="fa fa-facebook fa-lg" aria-hidden="true" style="margin: 5px"></i>facebook</button>
				</a>
		</div>
	</div>
	</body>
	</html>

	<script type="text/javascript">
	var password = document.getElementById('pass-input');
		var confirm_password = document.getElementById('pass-confirm-input');
		function validatePasswordLength() {
			if (password.value.length < 8) {
				password.setCustomValidity("Password must be at least 8 characters long");
			} else {
				password.setCustomValidity('');
			}
		}
		password.onchange = validatePasswordLength;
		password.onkeyup = validatePasswordLength;


		
		function validatePassword() {
			if (password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Passwords don't match");
			} else {
				confirm_password.setCustomValidity('');
			}
		}
		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;



	</script>
