<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#4EB980">
<style type="text/css">
* { box-sizing: border-box; }
::selection{
  background: yellow;
}

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; 
  
}

/* ---- grid ---- */

.grid {
  background: transparent;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}
@media screen and (max-width: 1224px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: 50%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
}


@media screen and (max-width: 720px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: 50%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
}

@media screen and (max-width: 480px) {
  .grid-sizer { width: 100%; }
  .grid-item { width: 100%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
}

.grid-item {
  float: left;
  padding: 3px;
}

.grid-item img {
  display: block;
  max-width: 100%;
  border-top-right-radius: 1%;
  border-top-left-radius: 1%;
}

.grid-item a {
  text-decoration: none;
  color: black;
}

.card {
  border: 1px solid #ececec;
  border-radius: 1%;
  background: #ececec;
}

.card-block {
  background: #ececec;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; 
  user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;          /* Non-prefixed version, currently
                                  not supported by any browser */
}
.modal-picture-container img{
  display: block;
  height: auto;
  width:100%;
}



</style>


<h1>Masonry - imagesLoaded progress</h1>

<div class="grid">
  <div class="grid-sizer"></div>
  <div class="grid-item">
    <a class= "mod-display" href ="#display-post">
    <div class="card">
      <img class= "card-img-top noselect" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
      <div class="card-block">
        <h3 class="card-title">Card title</h3>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="card-footer text-muted">
          2 days ago
      </div>
      </div>
    </div></a>
  </div>
  <div class="grid-item">
  <a class= "mod-display" href ="#display-post">
    <div class="card">
      <img class="card-img-top noselect" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
      <div class="card-block">
        <h3 class="card-title">Card title</h3>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="card-footer text-muted">
          2 days ago
      </div>
      </div>
    </div></a>
  </div>
  <div class="grid-item">
  <a class= "mod-display" href ="#display-post">
    <div class="card">
      <img class="card-img-top noselect" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" />
      <div class="card-block">
        <h3 class="card-title">Card title</h3>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="card-footer text-muted">
          2 days ago
      </div>
      </div>
    </div></a>
  </div>
  <div class="grid-item">
  <a class= "mod-display" href ="#display-post">
    <div class="card">
      <img class="card-img-top noselect" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
      <div class="card-block">
        <h3 class="card-title">Card title</h3>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="card-footer text-muted">
          2 days ago
      </div>
      </div>
    </div></a>
  </div>
  <div class="grid-item">
  <a class= "mod-display" href ="#display-post">
    <div class="card">
      <img class="card-img-top noselect" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
      <div class="card-block">
        <h3 class="card-title">Card title</h3>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="card-footer text-muted">
          2 days ago
      </div>
      </div>
    </div>
  </div></a>
  <div class="grid-item">
  <a class= "mod-display" href ="#display-post">
    <div class="card">
      <img class="card-img-top noselect" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
      <div class="card-block">
        <h3 class="card-title">Card title</h3>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="card-footer text-muted">
          2 days ago
      </div>
      </div>
    </div></a>
  </div>
  <div class="grid-item">
  <a class= "mod-display" href ="#display-post">
    <div class="card">
      <img class="card-img-top noselect" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
      <div class="card-block">
        <h3 class="card-title">Card title</h3>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="card-footer text-muted">
          2 days ago
      </div>
      </div>
    </div></a>
  </div>
  <div class="grid-item">
  <a class= "mod-display" href ="#display-post">
    <div class="card">
      <img class="card-img-top noselect" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
      <div class="card-block">
        <h3 class="card-title">Card title</h3>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="card-footer text-muted">
          2 days ago
      </div>
      </div>
    </div></a>
  </div>
  <div class="grid-item">
  <a class= "mod-display" href ="#display-post">
    <div class="card">
      <img class="card-img-top noselect" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
      <div class="card-block">
        <h3 class="card-title">Card title</h3>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="card-footer text-muted">
          2 days ago
      </div>
      </div>
    </div>
  </div></a>
</div>

<div id="display-post">
            <!--"THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID-->
    <div  id="btn-close-modal" class="close-display-post"> 
                CLOSE MODAL
    </div>
            
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 modal-picture-container">
    </div>

    <div class = "col-md-12 col-xs-12 col-sm-12 modal-content-container">
      <div class = "post-title-container">
        <h2> Lorem Ispum </h2>
      </div>
      <div class = "post-content-container">
        <p>Lorem ipsum dolor sit amet, ei usu voluptua moderatius necessitatibus. Ut vix tollit invenire rationibus, hinc natum zril sed te. Mei verterem iracundia definitiones eu, cu reque fugit putent pro. Quot tation denique vis te. Et integre cotidieque his, te has quidam veritus. Duo justo libris perpetua ex, sea et clita honestatis.

Vix cu malis antiopam sapientem. Eos dicat falli ullamcorper at, quo id quodsi molestie repudiare. Vel primis forensibus ex, id nec periculis intellegat, rebum vidisse cum ex. His in omnes iisque. Te brute cotidieque mea.

Id sed eius augue recteque. Mei omnis theophrastus ne. Ius no reque consequat, simul option mandamus ad est, nec et nulla commodo. Ex ignota tincidunt pro. Ne facilis urbanitas mea, ornatus vituperatoribus mel an, pri delenit nonumes insolens an. Eum ut odio nusquam.

Nec veritus percipit delicatissimi et, pri te epicurei incorrupte. Adhuc mandamus quo no, principes honestatis his et. Sea ad omnes saperet. Quot signiferumque ius cu. Qui novum laboramus definitiones in, ei eos suscipit adolescens dissentias. Quo quot audiam cu, has et nostrud convenire, nihil oporteat dissentiet ea duo. Ius quod quodsi consequuntur no, ne legendos democritum duo.</p>
      </div>
    </div>

    <div class = "col-md-12 col-xs-12 col-sm-12 modal-about-container">
      <h3> About the author </h3>
    </div>

</div>

<script type="text/javascript">
var $grid = $('.grid');
$grid.imagesLoaded().progress( function() {
  $grid.masonry({
    itemSelector: '.grid-item',
  percentPosition: true,
  columnWidth: '.grid-sizer'
  });
});  

$('.mod-display').animatedModal({
  modalTarget: 'display-post',
  color: '#f9f9f9'
});

$('.mod-display').on('click',function() {
  var thisPost = $(this);
  var imageLink = thisPost.find('img').attr('src');
  $('.modal-picture-container').html("<img src ="+imageLink+" />");
});

</script>
