<!--<div class="card">
	<%= image_tag frame.picture.url , class:"card-img-top noselect"%>
	<div class = "card-block">
        <h3 class = "card-title"><%= frame.title %></h3>
        <p class = "card-text"><% %>...</p>
        <p class = "card-tags">
          <% tags = frame.tags %>
          <% tags.each do |t| %>
              <%= link_to tag_path(t.name),method: :get do%>
                <button type="button" class="btn btn-info btn-sm tag-btn">
                  <span style="font-family: 'Assistant';"><%= t.name %></span>
              </button>
              <% end %>
          <% end %>
    </div>
</div>
     
!-->
  <div class="gallery" data-desc="<%= frame.content[0..125] %>" data-tagdesc = "<%= frame.tags.first %>">

        <%= image_tag frame.picture.url(:crop), width: '300', height: '200', class: "gall-img" %>
  </div>   