<!--<style type="text/css">
	
* { box-sizing: border-box; }
::selection{
  background: #feda48;
}

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; 
  
}

/* ---- grid ---- */

.grid {
  background: transparent;
  padding-top: 65px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
  padding: 3px;
}

@media screen and (max-width: 1224px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: 50%; }

 }
 @media screen and (max-width: 720px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: 50%; }

}
@media screen and (max-width: 480px) {
  .grid-sizer { width: 100%; }
  .grid-item { width: 100%; }
  }
 
  
}
.grid-item {
  float: left;
 }

.grid-item img {
  display: block;
  max-width: 100%;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  width: 100%;
}

.grid-item a {
  text-decoration: none;
  color: black;
}

.card {
  border: 1px solid #ececec;
  border-radius: 1%;
  background: #ececec;
}

.card-block {
  background: #ececec;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; 
  user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;          /* Non-prefixed version, currently
                                  not supported by any browser */
}
.card-text {
  font-size: 1.2em;
}
.card-title, .card-text {
  padding-left: 15px;
}
.card {
  border-radius: 0px;
  box-shadow: 1.5px 1.5px 1px #adadad;
}
.card-img-top img{
  border-radius: 0px;
}

</style>!-->
<style>
#gallery-main {
    margin-right: 8%;
    margin-top: 10%;
    height: auto;
    width: 700px;
    float: right;
}
div.gallery {
    margin: 5px;
    float: left;
    width: 300px;
}

div.gallery:hover {
}

div.gallery img {
    width: 300px;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
}
#gallery-text {
  float: left;
  margin-top: 10%;
  margin-left: 5px;
  font-family: 'Heebo';
  width: 400px;
  font-size: 20px;
  position: fixed;
}

</style>
<!--<div class= "grid">
<div class = "grid-sizer"></div>!-->
<div class = "cluster-gallery">
  <div id = "gallery-text">
    <p id = "gal-txt"> Hover over a picture to know what it's about </p>
    <p id = "gal-batmanlol"> </p>
    <div id = 'gal-tags'> </div>
  </div>
  <div id = "gallery-main">
  <% @frame.each do |f| %>
  <!--<div class = "grid-item">!-->
  	<%= link_to f do%>
        <%= render f %>
     <% end %>
  
  <% end %>
  </div>
</div>

<script type="text/javascript">
    var sampleText = "Hover over a picture to know what it's about!"
  $('.gall-img').mouseenter(
  function() {
    $('#gal-batmanlol').text("Theme: ");
    var desc = $(this).parent().data("desc");
    $('#gal-txt').text(desc);
    var tagdesc = $(this).parent().data("tagdesc");
    $('#gal-tags').html('<button type="button" class="btn btn-info btn-sm tag-btn">' + tagdesc + '</button>');
  });
  $('.gall-img').mouseleave(
    function() {
      $('#gal-batmanlol').text("");
      $('#gal-txt').text(sampleText);
      $('#gal-tags').html(" ");
    });
</script>
<!--<script type="text/javascript">
	var $grid = $('.grid');
$grid.imagesLoaded().progress( function() {
  $grid.masonry({
    itemSelector: '.grid-item',
  percentPosition: true,
  columnWidth: '.grid-sizer'
  });
});  
</script>!-->