<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#4EB980">



<style type="text/css">
* { box-sizing: border-box; }
::selection{
  background: #feda48;
}

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; 
  
}

/* ---- grid ---- */

.grid {
  background: transparent;
  padding-top: 65px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}
@media screen and (max-width: 2160px) {
  .add-post-btn {
    top: 90%;
    left: 90%;
  }
  .close-display-post {
    color: gray;
  }
}
@media screen and (max-width: 1600px) {
  .add-post-btn {
    top: 90%;
    left: 90%;
  }
  .close-display-post {
    color: gray;
  }
}
@media screen and (max-width: 1224px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: 50%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .add-post-btn {
    top: 93%;
    left: 90%;
  }
  .close-display-post {
    color: gray;
  }
  
}


@media screen and (max-width: 720px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: 50%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .add-post-btn {
    top: 87%;
    left: 83%;
  }
  .close-display-post {
    color: #fff;
  }
  
}

@media screen and (max-width: 480px) {
  .grid-sizer { width: 100%; }
  .grid-item { width: 100%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .add-post-btn {
    top: 90%;
    left: 80%;
  }
  .close-display-post {
    color: #fff;
  }
  
}

.grid-item {
  float: left;
  
}

.grid-item img {
  display: block;
  max-width: 100%;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  width: 100%;
}

.grid-item a {
  text-decoration: none;
  color: black;
}

.card {
  border: 1px solid #ececec;
  border-radius: 1%;
  background: #ececec;
}

.card-block {
  background: #ececec;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; 
  user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;          /* Non-prefixed version, currently
                                  not supported by any browser */
}
.modal-picture-container img{
  display: block;
  height: auto;
  width:100%;
}


.content-input {
  height: 200px;
  width: 100%;
  resize: vertical;
}

.post-tags-input {
  width: 100%;
}

.add-post-btn {
  position: fixed;
  z-index: 222;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  outline: none;
}

.close-display-post {
  position: absolute;
  z-index: 10000;
  left: 95%;
  cursor: pointer;
  font-size: 2em;
}
.title-input {
  resize: none;
  width: 100%;
  height: 35px;
}
.card-text {
  font-size: 1.2em;
}
.card .dropdown-menu {
  position: relative;
  z-index: 100000;
}

.title-input {
  border-radius: 5px;
  border: 1px solid #878787;
  text-indent: 15px;
  font-size: 14pt;
}
.title-input:focus {
  outline: none;
}
.content-input {
  border-radius: 5px;
  border: 1px solid #878787;
  text-indent: 15px;
  font-size: 12.5pt;
  font-family: 'Assistant', sans-serif;
}
.content-input:focus {
  outline: none;
}
.add-post-btn:focus {
  outline: none;
}
.modal-title {
  font-family: 'Assistant', sans-serif;
}
.add-post-btn {
  box-shadow: 2px 2px 2px #888888;
}

.modal-likes-container {
  text-align: center;
  padding-top: -10px;
}
.post-title-container {
  margin-top: -10px;
}
.btn-share{
  margin: 2px;
  color: #fff;
  font-family: 'Assistant', sans-serif;
  border-radius: 0px;
}
.btn-share:hover {
  color: #fff;
}
.btn-share:focus {
  color: #fff;
  outline: none;
}

.btn-facebook {
  background-color: #3b5998;
}
.btn-twitter {
  background-color: #55acee;
}
.btn-google-plus {
  background-color: #dd4b39;
}

.no-posts-container {
  margin-top: 65px;
}
.report-content {
  resize: none;
  width: 100%;
  border-radius: 3px;
}

.edit-post-title {
  width: 100%;
  resize: none;
  border-radius: 5px;
   border: 1px solid #878787;
   height: 35px;
   font-family: 'Assistant';
    text-indent: 15px;
  font-size: 14pt;
}

.edit-post-title:focus , .edit-post-content:focus{
  outline: none;
}

.edit-post-content {
  font-family: 'Assistant';
  width: 100%;
  resize: vertical;
  height: 200px;
  border-radius: 5px;
   border: 1px solid #878787;
    text-indent: 15px;
   font-size: 12.5pt;
}

.post-scroller {
  margin-top: 65px;
}
.post-visual-link-input {
  font-family: 'Assistant';
  border-radius: 3px;
  box-shadow: 0 0 0 0;
  height: 30px;
}
.post-visual-link-input:focus {
  outline: none;
}



</style>
<meta property="og:url" content = "<%= request.original_url %>">
<meta property="og:title" content="<%= @frame.title %>" >
<meta property="og:image" content="<%= @frame.picture.url%>" >
<meta property="og:description" content="<%= @frame.content[0..100] %>">
<meta property="twitter:url" content = "<%= request.original_url %>">
<meta property="twitter:title" content="<%= @frame.title %>" >
<meta property="twitter:image" content="<%= @frame.picture.url%>" >
<meta property="twitter:description" content="<%= @frame.content[0..100] %>">


<% content_for :title , @frame.title.to_s + " | Snapdshort" %>
<!--
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Report this post</h4>
      </div>
      <div class="modal-body">
        Please enter why you want to report this post. 
        <%= form_for(Report.new, as: :report, url: reports_path(Report.new), remote: true, class: "report-form") do |f| %>
        <%= f.text_area :content , class: "report-content", :required => true%>
        <%= f.hidden_field :post_id , class: "post-id-report"%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary report-close-button" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", class: "btn btn-primary report-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
!-->
<!--<div class = "post-scroller">!-->
  <% posts = @frame.posts.order(:created_at) %>
  <% if posts.count == 0 %>
    <div class = "no-posts-container col-md-12 col-sm-12 col-xs-12">
      <h2>Looks like we don't have any posts! Add one below!</h2>
    </div>
  <% end %>
  <% posts.each do |p| %>
  <!--<div class = "grid-item">!-->
    <a class= "mod-display" href ="#display-post">
      <div class = "mod-display-div" data-id="<%= p.id %>" id = "<%=dom_id(p)%>">
        <%= render partial: 'posts/post_user', locals: {post: p} %>
      </div>
    </a>
  <!--</div>!-->
  <% end %>
<!--</div>!-->


<% if user_signed_in? && @frame.activated%>
  <div class = "col-md-6 col-md-offset-4 add-post-container">
    <button type="button" class="btn btn-primary btn-lg add-post-btn" data-toggle="modal" data-target="#addPostModal">
        <span>+</span>
    </button>
  </div>
<% end %>
<%= render 'shared/modaldisplay' %>

<% if user_signed_in? %>
  <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPost" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="addClusterLabel">Add your post</h4>
        </div>
        <div class="modal-body">
        <%= form_for(current_user.posts.new, as: :post, url: posts_path(post_resource_name), remote: true) do |f| %>
          <%= f.hidden_field :frame_id,value: @frame.id %>
          <%= f.text_area :title , class: "title-input", placeholder: "Title",  :required => true  %>
          <%= f.text_area :content , class: "content-input", cols:"20", rows: "20", placeholder: "Enter your story",  :required => true %>
          <%= f.file_field :picture , :required => true %>
          <%= f.text_field :link , placeholder: "Visual Link", class: "post-visual-link-input", :required => true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Submit" , class: "btn btn-primary submit-button"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<!--
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        
        <div class="modal-body">
          <button type="button" class="btn btn-facebook btn-share" style="width: 100%"><i class="fa fa-facebook fa-lg" aria-hidden="true" style="margin: 5px"></i>facebook</button><br>
          <button type="button" class="btn btn-twitter btn-share" style="width: 100%"><i class="fa fa-twitter fa-lg" aria-hidden="true" style="margin-right: 5px"></i>twitter</button><br>
          <button type="button" class="btn btn-google-plus btn-share" style="width: 100%"><i class="fa fa-google-plus fa-lg" aria-hidden="true" style="margin-right: 5px"></i>Google +</button>
        </div>
      </div>
      </div>
    </div>
  </div>
!-->
  <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit the post</h4>
        </div>
        <div class="modal-body">
          
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
var $grid = $('.grid');
$grid.imagesLoaded().progress( function() {
  $grid.masonry({
    itemSelector: '.grid-item',
  percentPosition: true,
  columnWidth: '.grid-sizer'
  });
});  

$('.mod-display').animatedModal({
  modalTarget: 'display-post',
  color: '#f9f9f9'
});

$('.mod-display-div').on('click',function() {
  var thisPost = $(this);
  var postId = thisPost.data('id');
  var postUrl = '/posts/'+postId+'/post_content';
  $.ajax(postUrl, {
    type: 'get',
    data: {post: {id: postId}},
    dataType: 'json',
    success: function(result) {
      var title = '<h2>'+result.title+'</h2>';
      var content = result.content;
      var contentArray = content.split('\n');
      var modifiedContent = contentArray[0] + '<br>';
      for(var i = 1 ; i<contentArray.length;i++ ) {
        modifiedContent = modifiedContent + contentArray[i]+'<br>';
      }
      $('.post-title-container').html(title);
      $('.post-content-container').html('<p>'+modifiedContent+'</p>');
    }
  });
  var imageLink = thisPost.find('img').attr('src');
  imageLink = imageLink.replace("crop_","");
  $('.modal-picture-container').html("<img src ="+imageLink+" />");
});

$('.mod-display-div').on('click','.fa-flag',function() {
  var thisCard = $(this).closest('.mod-display-div');
  var postId = thisCard.data('id');
  $('.post-id-report').val(postId);
});

$(document).ready(function() {
var list = $('.img-div');
var i = 0;
var colors = ['#CCFF90','#3D9BE9','#ED1566','#FF8863']
for (i = 0;i < list.length;i++) {
  var element = list[i];
  var c = "-25px -25px "+colors[i%4];
  if (i%2 == 0) {
    $(element).find('.img-main').css("float","left");
    $(element).find('.img-text-div').css("float","right");
    $(element).find('.img-text-div').css("margin-right","70px");
    $(element).find('#img-main').css("box-shadow",c);

  } else {
    $(element).find('.img-main').css("float","right");
    $(element).find('.img-text-div').css("float","left");
    $(element).find('.img-text-div').css("margin-left","30px");
    $(element).find('.img-text-div').css("margin-right","70px");
    $(element).find('#img-main').css("box-shadow",c)
  }
}
});

</script>