<%= form_for post, remote: true do |f| %>
	<%= f.text_area :title , class: "edit-post-title"%>
	<%= f.text_area :content, class: "edit-post-content" %>

	<div class = "modal-footer">
		<%= f.submit "Save changes" , class: "btn btn-primary edit-save-button" %>
		<button type="button" class="btn btn-secondary edit-close-button" data-dismiss="modal">Close</button>
	</div>
<% end %>