<style>
.card-title, .card-text {
  padding-left: 15px;
}
.card {
  border-radius: 0px;
  box-shadow: 1.5px 1.5px 1px #adadad;
}
.card-img-top img{
  border-radius: 0px;
}
.tag-btn {
  height: 20px;
  line-height: 5px;
}
.card-tags {
  padding-left: 15px;
}
.share-btn {
  position: absolute;
  z-index: 111;
  top: 4%;
  left: 90%;

  text-align: center;
  opacity: 0.8;
}

.share-btn:hover {
  opacity: 0.5;
  transition: 0.1s;
}
.fa-share-alt {
  color: #fff;
}
</style>

<div class="card">
  
    <div class = "card-img">
      <a href = "javascript:void(0)" class = 'share-btn' data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-alt fa-lg" aria-hidden="true"></i></a>
      <a class= "mod-display" href ="#display-post">
        <%= image_tag post.picture.url , class:"card-img-top noselect"%>
      </a>
    </div>
    <div class = "card-block">
        <a class= "mod-display" href ="#display-post">
          <h3 class = "card-title"><%= post.title %></h3>
          <p class = "card-text"><%= post.content[0..100] %>...</p>
        </a>
        <p class = "card-tags">
          <% tags = post.tags %>
          <% tags.each do |t| %>
              <%= link_to tag_path(t.name),method: :get do%>
                <button type="button" class="btn btn-info btn-sm tag-btn">
                
                  <span style="font-family: 'Assistant';"><%= t.name %></span>
              </button>
              <% end %>
          <% end %>
        </p>
        <div class = "card-footer text-muted">
        <% if user_signed_in? %>
          <% if current_user.liked?(post) %>
            <%= link_to like_path(post_id: post.id, id: current_user.id), remote: true, method: :delete do%>
              <i class="fa fa-heart fa-lg heart-btn" aria-hidden="true"></i>
            <% end %>
          <% else %>
            <%= link_to likes_path(post_id: post.id), remote: true, method: :post do %>
              <i class="fa fa-heart-o fa-lg heart-btn" aria-hidden="true"></i>
            <% end %>
          <% end %>
          <span style = "font-family: 'Assistant', sans-serif"><%= post.liking_users.count %></span>
          <%= link_to post, method: :delete, remote: true, data: {confirm: "Are ya sure?"} do %>
            <i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i>
          <% end %>
          <i class="fa fa-flag fa-lg" aria-hidden="true" style="float:right" data-toggle = "modal" data-target = "#reportModal"></i>
          <span data-toggle="tooltip" data-placement="bottom" title="Permalink" style="float:right">
            <%= link_to post do%>
              <i class="fa fa-code fa-lg" aria-hidden="true" style="float:right"></i>
            <% end %>
          </span>
          <% end %>
        </div>
     </div>
</div>

<script type="text/javascript">
  $('.share-btn').click(function(event) {
    event.preventDefault();
  });
</script>
