<!--<style>
.card-title, .card-text {
  padding-left: 15px;
}
.card {
  border-radius: 0px;
  box-shadow: 1.5px 1.5px 1px #adadad;
}
.card-img-top img{
  border-radius: 0px;
}
.tag-btn {
  height: 20px;
  line-height: 5px;
}
.card-tags {
  padding-left: 15px;
}
.share-btn {
  position: absolute;
  z-index: 111;
  top: 4%;
  left: 90%;

  text-align: center;
  opacity: 1;
}

.share-btn:hover {
  opacity: 1;
  transition: 0.1s;
}
.fa-share-alt {
  color: #fff;
}
.card-author {
  font-family: 'Quattrocento',serif;
  font-weight: bold;
  padding-left: 15px;
  font-size: 1.2em;
}
.fa-flag {
  color: red;
}

.card-block {
  border-right: 1px solid gray;
  padding-top: 10px;
}
.card-title {
  margin-top: 10px;
}
.link-btn {
  background: #1abc9c;
  border: 1px solid #1abc9c;
}
.link-btn:active {
  background: #1abc9c;
  border: 1px solid #1abc9c;
}
.link-btn:hover {
  background: #1abc9c;
  border: 1px solid #1abc9c;
}
.link-btn:focus {
  background: #1abc9c;
  border: 1px solid #1abc9c;
}
.card-img img {
  display: block;
  max-width: 100%;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  width: 100%;
}
.card-timestamp {
  padding-left: 15px;
  font-family: 'Assistant';
}
</style>

<div class="card">
  
    <div class = "card-img">
      <a href = "javascript:void(0)" class = 'share-btn' data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-share-alt fa-lg" aria-hidden="true"></i></a>
      <a class= "mod-display" href ="#display-post">
        <%= image_tag post.picture.url(:crop) , class:"card-img-top noselect"%>
      </a>
    </div>
    <div class = "card-block">
        <a class= "mod-display" href ="#display-post">
          <h3 class = "card-title"><%= post.title %> <span style = "font-family:'Assistant'; font-size: 15px;">by</span>
            <%= link_to u_path(post.user)  do%> 
              <span style = "font-size: 17px;font-weight: bold"><%= post.user.name %></span>
            <% end %>
          </h3>
          <p class = "card-text"><%= post.content[0..200] %>...</p>
        </a>
        <p class = "card-timestamp"> <%= post.created_at.strftime("%B %d, %Y") %> </p>
        <p class = "card-tags">
          <% tags = post.tags %>
          <% tags.each do |t| %>
              <%= link_to tag_path(t.name),method: :get do%>
                <button type="button" class="btn btn-info btn-sm tag-btn">
                
                  <span style="font-family: 'Assistant';"><%= t.name %></span>
              </button>
              <% end %>
          <% end %>
          <% if post.link %>
           <button type = "button" class="btn btn-info btn-sm tag-btn link-btn">
                <%= post.link %>
            </button>
          <% end %>
        </p>
        <div class = "card-footer text-muted">
          <% if user_signed_in? %>
            <span class = "card-like-container">
            	<% if current_user.liked?(post) %>
                <%= link_to like_path(post_id: post.id), remote: true, method: :delete do%>
                  <i class="fa fa-heart fa-lg heart-btn" aria-hidden="true"></i>
                <% end %>
              <% else %>
                <%= link_to likes_path(post_id: post.id), remote: true, method: :post do %>
                  <i class="fa fa-heart-o fa-lg heart-btn" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </span>
            <span class = "likes-count-container" style = "font-family: 'Assistant', sans-serif"><%= post.liking_users.count %></span>
            <% if post.user == current_user || current_user.admin%>
                <%= link_to post, method: :delete, remote: true, data: {confirm: "Are ya sure?"} do %>
              	 <i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i>
                <% end %>
                <%= link_to edit_post_path(post), remote: true do %>
                  <i class="fa fa-pencil fa-lg" aria-hidden="true" data-toggle = "modal" data-target = "#editPostModal"></i>
                <% end %>
            <% end %>
            <span class= "flag-post" data-toggle = "tooltip" data-placement="bottom" title="Report" style = "float:right">
              <i class="fa fa-flag fa-lg" aria-hidden="true" style="float:right" data-toggle = "modal" data-target = "#reportModal"></i>
            </span>
            <span class= "permalink" data-toggle="tooltip" data-placement="bottom" title="Permalink" style="float:right">
              <%= link_to post, method: :get do%>
                <i class="fa fa-code fa-lg" aria-hidden="true" style="float:right"></i>
              <% end %>
            </span>
          <% end %>
        </div>
     </div>
</div>

<script type="text/javascript">
$(document).on('turbolinks:load', function() {
  $('.share-btn').click(function(event) {
    event.preventDefault();
  });

  $('.permalink').tooltip({ container: 'body' });
  $('.flag-post').tooltip({ container: 'body' });

});
</script>!-->

<style>
  #img-main {
    width: 50%;
    box-shadow: -25px -25px #CCFF90;
  }
  .img-div {
    margin: 100px;
  }

  .img-text-1 {
    
    font-family: 'Heebo';
    font-size: 24px;
  }

  .img-text-div {
    
    width: 400px;
  }

 

  .link-btn {
    background-color: #1abc9c;
    border: none;
  }

  a:hover , a:visited, a:active {
    text-decoration: none;
    color: black;
  }
  a {
    text-decoration: none;
    color: black;
  }
 
</style>
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Heebo:100" rel="stylesheet">
</head>
<body>
  <div class = "img-div">
    <%= image_tag post.picture.url(:crop), id:"img-main" %>
    <div class = "img-text-div">
      <p class = "img-text-1"><%= post.content[0..250] %>...</p>
      <div class = "img-tag">
        <button type="button" class="btn btn-info btn-sm tag-btn theme-btn"> <%= post.frame.tags.first %> </button>
        <% if post.link %>
          <button type="button" class="btn btn-info btn-sm tag-btn link-btn"> <%= post.link%> </button>
        <%end%>
    </div>
  </div>
</div>
</body>
</html>