<style>
 html { overflow-y: scroll; }

body { font-family: sans-serif; 
  
}

/* ---- grid ---- */

.grid {
  background: transparent;
  margin-top: 0px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}
@media screen and (max-width: 1224px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: 50%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
}


@media screen and (max-width: 720px) {
  .grid-sizer { width: 50%; }
  .grid-item { width: 50%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
}

@media screen and (max-width: 480px) {
  .grid-sizer { width: 100%; }
  .grid-item { width: 100%; }
  .col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
}

.grid-item {
  float: left;
  padding: 3px;
}

.grid-item img {
  display: block;
  max-width: 100%;
  border-top-right-radius: 1%;
  border-top-left-radius: 1%;
}

.grid-item a {
  text-decoration: none;
  color: black;
}

.card {
  border: 1px solid #ececec;
  border-radius: 1%;
  background: #ececec;
}

.card-block {
  background: #ececec;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; 
  user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;          /* Non-prefixed version, currently
                                  not supported by any browser */
}
.modal-picture-container img{
  display: block;
  height: auto;
  width:100%;
}  

.about-user-container {
  background-color: transparent;
}

.about-user-picture-container {
  height: 200px;
  width: 200px;
  background-image: url(http://1.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=280);
   background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.text-container {
  margin-left: 65px;
}

.card-text {
  font-size: 1.2em;
}

</style>
<h1> Hello <%= current_user.id %> </h1>
<!-- TODO: 
	1. Put script code in asset pipeline
	2. Change div to ul, li for proper display
	3. If posstible, add data attributes and use those to display the data when the user clicks on a div.
	4. change some names
 -->
 <meta name="viewport" content="width=device-width" />
<div class= "grid">
<div class = "grid-sizer"></div>
  <% @post.each do |p| %>
  <div class = "grid-item">
    <a class= "mod-display" href ="#display-post">
      <div class = "mod-display-div" data-id="<%= p.id %>" id = "<%=dom_id(p)%>">
        <%= render partial: 'posts/post', locals: {post: p} %>
      </div>
    </a>
    </div>
  <% end %>
</div>

 <%= render 'shared/modaldisplay' %>

	
<script>

var $grid = $('.grid');
$grid.imagesLoaded().progress( function() {
  $grid.masonry({
    itemSelector: '.grid-item',
  percentPosition: true,
  columnWidth: '.grid-sizer'
  });
});  

$('.mod-display').animatedModal({
  modalTarget: 'display-post',
  color: '#f9f9f9'
});


$('.mod-display-div').on('click',function() {
  var thisPost = $(this);
  var postId = thisPost.data('id');
  var postUrl = '/posts/'+postId+'/post_content';
  $.ajax(postUrl, {
    type: 'get',
    data: {post: {id: postId}},
    dataType: 'json',
    success: function(result) {
      var title = '<h2>'+result.title+'</h2>';
      var content = result.content;
      var contentArray = content.split('\n');
      var modifiedContent = contentArray[0] + '<br>';
      for(var i = 1 ; i<contentArray.length;i++ ) {
        modifiedContent = modifiedContent + contentArray[i]+'<br>';
      }
      $('.post-title-container').html(title);
      $('.post-content-container').html('<p>'+modifiedContent+'</p>');
    }
  });
  var imageLink = thisPost.find('img').attr('src');
  $('.modal-picture-container').html("<img src ="+imageLink+" />");
});
	
	
</script>

