<%= form_for(@post, html: { multipart: true }) do |f| %>
	<%= f.text_field :content %>
	<%= f.file_field :picture %>
	<%= f.text_field :tag_list, 'data-role'=>'tagsinput' %>
	<%= f.submit "submit" %>
<% end %>
