<style type="text/css">
	@media screen and (max-width: 1224px) {
		.col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 720px) {
	.col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
}

@media screen and (max-width: 480px) {
	.col-sm-12 {padding-left: 0px;
    padding-right: 0px;
  }
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
}
.modal-picture-container {
  margin-top: 65px;
}
.modal-picture-container img{
  display: block;
  height: auto;
  width:100%;
}  
.post-divider {
  width: 50%;
  color: black;
  background: black;
}
</style>
<meta property="og:url" content = "<%= request.original_url %>">
<meta property="og:title" content="<%= @post.title %>" >
<meta property="og:image" content="<%= @post.picture.url%>" >
<meta property="og:description" content="<%= @post.content[0..100] %>">
<meta property="twitter:url" content = "<%= request.original_url %>">
<meta property="twitter:title" content="<%= @post.title %>" >
<meta property="twitter:image" content="<%= @post.picture.url%>" >
<meta property="twitter:description" content="<%= @post.content[0..100] %>">
<% content_for :title , @post.title + " | Snapdshort" %>

<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 modal-picture-container">
	<%= image_tag @post.picture.url %>
</div>

 <div class = "col-md-12 col-xs-12 col-sm-12 modal-content-container">
      <div class = "post-title-container">
        <h2> <%=@post.title  %></h2>
      </div>
      <div class = "post-content-container">
        <p><%= @post.content %></p>
      </div>
    </div>

<hr class = "post-divider">