@import "bootstrap-sprockets";
@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=Libre+Baskerville|Quattrocento|Assistant|Heebo:100);
@import 'slick-theme';
@import "font-awesome-sprockets";
@import "font-awesome";

/* mixins, variables */
$gray-very-light: #f9f9f9;
$gray-medium-light: #ececec;

@mixin input_design {
	border-radius: 4px;
	border: 1px solid #f9f9f9;
	outline: none;
	padding: 10px;
	margin-bottom: 10px;
	width: 95%;
	&:focus {
				border: 1px solid #555;
				transition: 0.2s;

	}
	
}

html {
	overflow-x: hidden;
}
/* body */
body {
	background-color: white;
	position: relative;
}

.main-body {
	
}
#main {
	transition: margin-left .5s;
}
/* row */

/*navbar */
.navbar {
	opacity: 1;
	padding-top: 10px;
}
.navbar-brand {
	font-family: 'Libre Baskerville', serif;
	float: left;
  	font-size: 1.7em;
  	color: #fff;
  	padding-top: 16px;
	&:hover {
		color: #f9f9f9;
		transition: 0.2s;
		text-decoration: none;
	}
}

#login {
	font-family: 'Quattrocento', serif;
	font-size: 14px;
	margin-right: 35px;
	padding-bottom: 9px;
	&:hover {
		color: #fff;
		transition: 0.2s;
	}
}
/*footer*/
.footer {
	font-family: 'Quattrocento', serif;
	margin-top: 10x;
  	padding-top: 5px;
  	color: #777;
  	.footer-message {
  		margin-left: 25px;
  		float: left;
  		}
}
/* footer links */
footer {
	a:hover{
		text-decoration: none;
	}
	ul {
		float:right;
		list-style:none;
	}
	li {
		float: left;
		margin-left: 15px;
		margin-right: 15px;
	}
}
/* title */
.slogan {
	margin-top: 50px;
	display: inline-block;
	font-family: 'Quattrocento', serif;
	top: 0px;
	text-align: center;
	color: #f9f9f9;

}

/* signup */
.signup {
	background-color:transparent;
	text-align: center;
	border: solid;
	border-color: transparent;
	border-width: 1px;
	border-radius: 5px;
	padding: 25px 25px 25px 25px;

	h3 {
		padding: 15px;
	}
	
	form {
		input {
			border-radius: 4px;
			border: 1px solid #ececec;
			outline: none;
			padding: 10px;
			margin-bottom: 10px;
			width: 95%;
			&:focus {
				border: 1px solid transparent;
				transition: 0.2s;

			}
		}
	}
}
/* signin form*/
.signin-form {
	margin-top: 20px;
	font-family: 'Heebo', serif;
	h2 {
		text-align: center;
		padding: 15px;
	}
	background-color: transparent;
	border-radius: 5px;
	text-align: center;
	form {
		input {
			border-radius: 4px;
			border: 1px solid #f9f9f9;
			outline: none;
			padding: 10px;
			margin-bottom: 10px;
			width: 95%;

			&:focus {
				border: 1px solid #ececec;
				transition: 0.2s;

			}
		}
		input[type=checkbox] {
			width: 5%;
			
		}
	}

}
/* navbar-links */
.navbar-links {
	font-family: 'Quattrocento', serif;
}
/* modal content */
.modal-content {
	box-shadow: none;
}
/* scroller */
.scroll-pic {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: auto;
	vertical-align: top;
}

.active-cluster-container {
	margin-top: 65px;
}
/* text box */
input[type=text] {
	width: 200px;
}

/* card and modal stuff */
.card-title {
	font-family: 'Quattrocento', serif;
	font-weight: bold;
}
.card-text {
	font-family: 'Assistant', sans-serif;
	p {
		font-size: 20px;
	}
}
.modal-content-container  {
	.post-title-container h2{
		font-family: 'Quattrocento', serif;
		font-weight: bold;
		text-align: center;
	}

	.post-content-container {
		font-family: 'Assistant', sans-serif;
		font-size: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.modal-about-container {
	padding-left: 10px;
	h3 {
		font-family: 'Quattrocento', serif;
		border-top: 3px solid #ececec;
	}
}

/* slick arrows */

.fa-arrow-left {
	z-index: 1;
    position: absolute;
    font-size: 2.2em;
    top: 50%;
    background-color: rgba(236, 240, 241,0.6);

    &:hover {
    	cursor: pointer;
    	padding-left: 10px;
    	transition: 0.2s;
    }
}

.fa-arrow-right {
	z-index: 1;
    position: absolute;
    top: 50%;
    right: 0%;
    font-size: 2.2em;
    background-color: rgba(236, 240, 241,0.6);

    &:hover {
    	cursor: pointer;
    	padding-right: 10px;
    	transition: 0.2s;
    }
}