<!DOCTYPE html>
<style type="text/css">
  ::selection{
  background: #feda48;
}

body {
  background-color: white;
}


</style>
  <meta name = "description" content = "Snapdshort. Sharing Stories. Shaping Lives.">
  <meta name = "keywords" content = "social media, pictures, snapdshort, allegheny">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
  <meta property="og:site_name" content="Snapdshort">
<html>
<head>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
  <link href="https://fonts.googleapis.com/css?family=Assistant|Libre+Baskerville|Quattrocento|Heebo:100" rel="stylesheet">
  
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id = "myBody">
  <%= render 'shim/header'%>
    	<%= yield %>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85812501-1', 'auto');
  ga('send', 'pageview');

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1790647241177494',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>
</html>
