<style>
  .update-profile-form {
    margin-top: 65px;
  }

  body {
    background-color: #ffc400;
  }

  .update-profile-form {
    font-family: 'Quattrocento', serif;
    text-align: center;
    border-width: 1px;
    border-radius: 5px;
    padding: 25px 25px 25px 25px;
  }

  .update-profile-form input {
    border-radius: 4px;
      border: 1px solid transparent;
      outline: none;
      padding: 10px;
      margin-bottom: 10px;
      width: 95%;
  }
</style>


<h2>Edit your profile</h2>
<div class = "col-md-4 col-md-offset-4 col-sm-9 col-sm-offset-3 col-xs-12 update-profile-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

 
    <%= f.text_field :name , autocomplete: "off", :required => true%>

  
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password", :required => true %>
  

  
    <%= f.submit "Update", class: "btn btn-primary" %>
  
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= link_to "Back", :back %>
</div>